<h2>{{model.title}} Listings</h2>

<ul>
  {{#each model.listings as |listing|}}
     <li>{{#link-to 'listing' listing.id}}{{current-date}}    {{listing.title}}-${{listing.price}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-listing save="save" category=model }}
{{outlet}}
