<h2>{{model.title}} Listings</h2>

<ul>
  {{#each model.listings as |listing|}}
     <li>{{current-date}}    {{listing.title}}-{{listing.price}}</li>
  {{/each}}
</ul>

{{new-listing save="save" category=model}}
