<header class="listing-header">
  <nav class="breadcrumbs-container">
    <ul class="breadcrumbs">
      <li class="crumb section">
        <a href="/">Portland</a>
        <span class="breadcrumb-arrow">></span>
      </li>
      <li class="crumb section">
        <a href="/category/0">Category List</a>
      </li>

    </ul>

  </nav>

</header>


<section class="body">


<h2>{{model.title}}-${{model.price}}({{model.location}})</h2>


<p>{{model.body}}</p>
Posted by:{{model.name}}
<p>
  {{model.email}}
</p>
Phone No:{{model.phone}}
<br>

{{update-listing listing=model update="update" }}
<br>
<button {{action 'delete' model}}>Delete</button>

Posted:{{format-relative model.date_added}}
</section>
